body{
    height:400px;
    width:350px;

    border:1px solid black;
}

.token-info-frame{
    position:relative;
    display:grid;
    height: 300px;
    padding:5px;
    margin:10px;

    z-index:1;
}

.token-info-header{
    display:grid;
    grid-template-columns: 0.8fr 1fr 1fr 1.5fr;
}

.token-info-header div{
    display:flex;
    justify-content: center;
}

@keyframes token_row_enter{
    0%{opacity:0%}
    100%{opacity:100%}
}

.token-row{
    font-size:14px;
    display:grid;
    grid-template-columns: 0.8fr 1fr 1fr 1.5fr;
    align-items: center;
    height:calc(300px/6);

    box-shadow:0px 5px 5px gainsboro;
    border-radius:12px;

    opacity:0;
    animation: token_row_enter 0.5s ease;
    animation-delay: calc(var(--i)*0.1s);
    animation-fill-mode: forwards;
}

.token-row div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

@keyframes plotShowsUp{
    0%{opacity:0%; transform:translate(-50%, -30%)}
    100%{opacity:100%; transform:translate(-50%,-50%)}
}

.token-graph-window{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    height:300px;
    width:300px;

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    background-color:white;
    border-radius:8px;
    box-shadow:0px 0px 10px gainsboro;

    z-index:2;
}

#token-graph-header{
    font-size:15px;
}


#graph{
    position:relative;
    height:250px !important;
    width:250px !important;

    animation:plotShowsUp .5s ease;
}

.graph-menu-buttons{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.token-graph-window-closed{
    visibility:hidden;
}

.token-graph-window-open{
    visibility:visible;

    animation:plotShowsUp .5s ease;
}