body{
    height:350px;
    width:350px;

    border:1px solid black;
}

.token-info-frame{
    display:grid;
    height: 300px;
    border:1px solid black;
    padding:5px;
}

.token-row{
    display:grid;
    grid-template-columns: 0.8fr 1fr 1fr 1.5fr;
    align-items: center;
    height:calc(300px/5);

    box-shadow:0px 5px 5px gainsboro;
    border-radius:0px 0px 12px 12px;
}

.token-row div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}